.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.meta {
  display: flex;
  align-items: center;
  gap: 0.75em;
}

.bestTime {
  font-size: 0.75em;
  color: var(--text-light);
  font-weight: 500;
}

.label {
  font-size: 0.75em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--text-light);
}
