.main {
  display: flex;
  min-height: calc(100svh - var(--header-height) - var(--footer-height));
  justify-content: center;
  align-items: flex-start;
  padding: 1em;
  width: 100%;
  margin: 0 auto;
  max-width: 40em;
}
