.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100svh - var(--header-height) - var(--footer-height));
  padding: 2.5em 1.5em;
  gap: 3em;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.25em;
  margin-top: 1em;
}

.title {
  font-family: var(--font-serif);
  font-size: 4em;
  font-weight: 500;
  color: var(--text);
  letter-spacing: -0.01em;
  max-width: 38em;
  line-height: 1em;
}

.titleItalic {
  font-style: italic;
  color: var(--accent);
}

.subtitle {
  font-size: 1.1em;
  line-height: 1.6;
  color: var(--text);
  max-width: 37em;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
  margin-top: 0.25em;
}

.step {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 0.25em 0.875em 0.25em 0.25em;
  background: transparent;
  border-radius: 100em;
  font-size: 1em;
  color: var(--text);
}

.stepNumber {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: transparent;
  color: var(--text);
  font-size: 1em;
  padding: 1em;
  font-weight: 500;
  background-color: white;
  color: var(--text);
  border: 1px solid var(--border);
}

.stepLabel {
  font-weight: 500;
  font-size: 1em;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
}

.languageCards {
  display: flex;
  gap: 0.875em;
  flex-wrap: wrap;
  justify-content: center;
}

.languageCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.35em;
  height: 8em;
  width: 8em;
  border: 0.125em solid transparent;
  border-radius: 1em;
  background: var(--button-bg);
  cursor: pointer;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
}

.languageCard:hover {
  border-color: var(--accent);
}

.languageCardSelected {
  border-color: var(--accent);
  box-shadow: 0 0 0 0.1875em var(--bg);
}

.languageEmoji {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.flag {
  max-width: 3.5em;
  width: 100%;
  border-radius: 0.1875em;
  display: block;
  border: 1px solid #f7f7f7;
}

.languageLabel {
  font-size: 1em;
  font-weight: 500;
  color: var(--text);
}

.ctaButton {
  width: 16em;
  margin-top: 0.75em;
}

.free {
  font-size: 0.8125em;
  color: var(--text);
}

.more {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  gap: 1em;
}

.moreButton {
  width: 12em;
}
